<form [formGroup]="Formulario">

    @if(Formulario.get('Nome').hasError('requered') && Formulario.get('Nome').touched){
        <p class="alert alert-warning">O campo é obrigatorio.</p>
    }
    
    <input type="text"   formControlName="Nome" placeholder="Nome" class="form-control">
   
    <input type="number" formControlName="Idade" placeholder="Idade" class="form-control">
   
    <input type="text"   formControlName="Cidade" placeholder="Cidade" class="form-control">


    @if (bntCadastrar) {

        <input type="button" value="Cadastrar" (click)="cadastrar()" class="btn btn-primary" [disabled]="Formulario.invalid">
    }
    @else {

        <input type="button" value="Alterar" class="btn btn-primary" [disabled]="Formulario.invalid">
        <input type="button" value="Remover" class="btn btn-primary">
        <input type="button" value="Cancelar" class="btn btn-primary">
    }

</form>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Cidade</th>
            <th>Selecionar</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
